
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.xcodeproj
*.xcworkspace
*.sln
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

.DS_Store
Thumbs.db


*.user
*.userprefs
*.pidb
*.booproj

*.log
*.vs
*.idea


*.pdb
*.obj
*.exe
*.dll
*.lib
*.app
*.ipa


*.dmp
*.backup
*.tmp

Plugins/*/Intermediate/
Plugins/*/Binaries/
